[submodule "ChibiOS"]
	path = ChibiOS
	url = https://git.wise-robotics.com/epuck2/ChibiOS.git 
[submodule "aseba"]
	path = aseba
	url = https://git.wise-robotics.com/epuck2/aseba.git
[submodule "src/cmp_mem_access"]
	path = src/cmp_mem_access
	url = https://github.com/epuck2/cmp_mem_access.git
[submodule "src/cmp"]
	path = src/cmp
	url = https://github.com/epuck2/cmp
[submodule "src/serial-datagram"]
	path = src/serial-datagram
	url = https://github.com/epuck2/serial-datagram.git
[submodule "src/crc"]
	path = src/crc
	url = https://github.com/epuck2/crc
[submodule "src/pid"]
	path = src/pid
	url = https://github.com/epuck2/pid.git
[submodule "vl6180x-driver"]
	path = src/sensors/vl6180x-driver
	url = https://github.com/epuck2/vl6180x-driver
[submodule "src/parameter"]
	path = src/parameter
	url = https://github.com/stapelzeiger/parameter.git
[submodule "packager"]
	path = packager
	url = https://github.com/cvra/packager
