[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/epuck2/ChibiOS.git
[submodule "aseba"]
	path = aseba
	url = https://github.com/epuck2/aseba
[submodule "src/cmp_mem_access"]
	path = src/cmp_mem_access
	url = https://github.com/epuck2/cmp_mem_access.git
[submodule "src/cmp"]
	path = src/cmp
	url = https://github.com/epuck2/cmp
[submodule "src/serial-datagram"]
	path = src/serial-datagram
	url = https://github.com/epuck2/serial-datagram.git
[submodule "src/crc"]
	path = src/crc
	url = https://github.com/epuck2/crc
