[submodule "ChibiOS"]
	path = ChibiOS
	url = https://git.wise-robotics.com/epuck2/ChibiOS.git 
[submodule "aseba"]
	path = aseba
	url = https://git.wise-robotics.com/epuck2/aseba.git
[submodule "src/cmp_mem_access"]
	path = src/cmp_mem_access
	url = https://github.com/epuck2/cmp_mem_access.git
[submodule "src/cmp"]
	path = src/cmp
	url = https://github.com/epuck2/cmp
[submodule "src/crc"]
	path = src/crc
	url = https://github.com/epuck2/crc
[submodule "src/parameter"]
	path = src/parameter
	url = https://github.com/stapelzeiger/parameter.git
[submodule "src/test-runner"]
	path = src/test-runner
	url = https://github.com/cvra/test-runner
[submodule "src/chibios-syscalls"]
	path = src/chibios-syscalls
	url = https://github.com/cvra/chibios-syscalls
[submodule "src/msgbus"]
	path = src/msgbus
	url = https://git.wise-robotics.com/epuck2/msgbus.git
